<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Document</title>
</head>
<body>
  <%- include('../partials/header') %>

  <main>

    <% meme.forEach (data => { %> 

    <section>
      <li>
        <%= data.template_id %>
        <%= data.name %><br>
        <img src= '<%= data.url%>'><br>
        <%= data.width%>
        <%= data.height%>
        <%= data.box_count %>
  
      </li>


    </section>
    <% }); %>

</main>
<%- include('../partials/footer') %>

</body>
</html>