<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('../partials/header') %>

  <main>

    <% meme.forEach (data => { %> 

    <section>
      <li>
        <%= data.template_id %>
        <%= data.name %>
       <img src= '<%= data.url%>'>
  
      </li>
      <form id="searchForm" method="post" action="/add"> 
        <input type="hidden" name="template_id" value= "<%= data.template_id %>" />
        <input type="hidden" name="name" value= "<%= data.name %>" />
        <input type="hidden" name="url" value= "<%= data.url %>" />
        <button  type="submit" id="selectThisBook">SELECT THIS MEME</button>
      </form> 

    </section>
    <% }); %>

</main>
<%- include('../partials/footer') %>

</body>
</html>